pkgbase = live-for-speed-linux
	pkgdesc = Unofficial launcher for Live for Speed, a racing simulator game
	pkgver = 0.3.3
	pkgrel = 1
	url = https://github.com/mitzracing/live-for-speed-linux
	install = live-for-speed-linux.install
	arch = x86_64
	license = MIT
	license = GPL-3.0-or-later
	depends = 7zip
	depends = bash
	depends = coreutils
	depends = curl
	depends = desktop-file-utils
	depends = findutils
	depends = gawk
	depends = grep
	depends = gnupg
	depends = libarchive
	depends = libpulse
	depends = sed
	depends = tar
	depends = util-linux
	depends = vulkan-icd-loader
	depends = vulkan-driver
	depends = wine=11.15-1
	depends = xdotool
	depends = xterm
	optdepends = libnotify: desktop launch error notifications
	optdepends = vulkan-tools: detailed Vulkan diagnostics
	optdepends = wmctrl: focus an existing LFS window
	provides = lfs-linux
	provides = live-for-speed-launcher
	conflicts = lfs-linux
	conflicts = live-for-speed-launcher
	replaces = lfs-linux
	replaces = live-for-speed-launcher
	source = live-for-speed-linux-0.3.3.tar.gz::https://github.com/mitzracing/live-for-speed-linux/releases/download/v0.3.3/live-for-speed-linux-0.3.3.tar.gz
	sha256sums = 983f1df4ec2d770e9177c4e7be3380b9357382e456e2294e994d048d5b4a2232

pkgname = live-for-speed-linux
