pkgbase = live-for-speed-linux
	pkgdesc = Unofficial launcher for Live for Speed, a racing simulator game
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/mitzracing/live-for-speed-linux
	install = live-for-speed-linux.install
	arch = x86_64
	license = MIT
	license = GPL-3.0-or-later
	depends = 7zip
	depends = alsa-lib
	depends = fontconfig
	depends = freetype2
	depends = gettext
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libgphoto2
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = libpcap
	depends = libusb
	depends = libunwind
	depends = libx11
	depends = libxcursor
	depends = libxext
	depends = libxi
	depends = libxkbcommon
	depends = libxrandr
	depends = opencl-icd-loader
	depends = pcsclite
	depends = sane
	depends = systemd-libs
	depends = wayland
	depends = bash
	depends = coreutils
	depends = curl
	depends = desktop-file-utils
	depends = findutils
	depends = gawk
	depends = grep
	depends = gnupg
	depends = libarchive
	depends = libpulse
	depends = sed
	depends = tar
	depends = util-linux
	depends = vulkan-icd-loader
	depends = vulkan-driver
	depends = xdotool
	depends = zenity
	depends = python
	depends = python-gobject
	depends = gtk4>=4.10
	depends = xdg-utils
	optdepends = libnotify: desktop launch error notifications
	optdepends = vulkan-tools: detailed Vulkan diagnostics
	optdepends = wmctrl: focus an existing LFS window
	provides = lfs-linux
	provides = live-for-speed-launcher
	conflicts = lfs-linux
	conflicts = live-for-speed-launcher
	replaces = lfs-linux
	replaces = live-for-speed-launcher
	source = live-for-speed-linux-0.4.0.tar.gz::https://github.com/mitzracing/live-for-speed-linux/releases/download/v0.4.0/live-for-speed-linux-0.4.0.tar.gz
	sha256sums = ac7225a8b6771414a0b8f2b1bd0c2a4dfa2e67eef5b970d279ded3e9c40c64a4

pkgname = live-for-speed-linux
